div {
    list-style: none;
    display: inline-block;

}

div.container {
    width: 100%;
    padding: 5px;
    text-align: center;
}

div.divlft {
    text-align: center;
    margin-bottom: 35px;
}

div.divlog {
    margin-left:1%;
    margin-bottom: 0.8%
}

div.divrgt {
    text-align: center;
    margin-bottom: 35px;
}

div.slide {
    margin-left: 15%;
    margin-bottom: 3%;
    width: 70%;
}

div.texto {
    margin-left: 15%;
    width: 70%;
}
