* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    float: right;
    margin-top: 5px;
}

header nav li a {
    color: red;
    display: inline-block;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    /*// IE 9 */
    -moz-transform: scale(1.2);
    /*// Firefox */
    -webkit-transform: scale(1.2);
    /*// Safari and Chrome */
    -o-transform: scale(1.2);
    /*// Opera */
}

header nav li a:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    /*// IE 9 */
    -moz-transform: scale(1.5);
    /* // Firefox */
    -webkit-transform: scale(1.5);
    /*// Safari and Chrome */
    -o-transform: scale(1.5);
    /*// Opera*/
}

body {
    background-size: 79%;
    background-attachment: fixed;
    background-image: url(../Assets/BG.png);
}

footer {
    /*EDICION PIE DE PAGINA*/
    background-color: black;
}