/* Diseño para PC Full hd*/
@media screen and (min-width: 1025px) and (max-width:2049px) {

    /*Diseño Imagenes*/
    img.format {
        width: 80px;
        margin: 1px;
        margin-top: 30px;
        margin-left: -20px;

    }

    html,
    body {
        /*BLOQUEAR MOVIMIENTO HORIZONTAL*/
        max-width: 100%;
        overflow-x: hidden;

    }


    li.menu-li-superior-rigth {
        text-align: left;
        display: inline-block;
    }


    li.menu-li-superior-left {
        text-align: right;
        display: inline-block;

    }

    img.format2 {
        /*EDICION IMAGEN SLIDE*/
        width: 900px;
        border-radius: 50px;
        margin-top: 30px;
        height: 900px;
        display: block;
        max-height: 100%;
        max-width: 100%;

    }

    /*Fin Diseño Imagenes*/
    body {
        background-position: center;
        background-size: 100%;
        background-attachment: fixed;
        background-image: url(../Assets/BG.png);
        box-shadow: inset 0px 0px 650px 122px rgba(0,0,0,0.75);

    }

    header {
        width: 100%;
        overflow: hidden;
        background-image: url(../Assets/Ejemplo%20Banner1080.png);
        background-size: 1080px;
        background-position: center;
        height: 150px;
        
    }


    /*CSS IMAGENES VISION MISION OBJETIVO*/

    img.img1 {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        transition: all .8s ease-in-out;
        border-radius: 50%;
        background-position: left;
        margin-right: 10px;
        box-shadow: 0px 0px 50px 10px black
    }

    img.img2 {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        transition: all .8s ease-in-out;
        border-radius: 50%;
        margin-left: -325%;
        box-shadow: 0px 0px 50px 10px black
    }

    img.img3 {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        transition: all .8s ease-in-out;
        border-radius: 50%;
        box-shadow: 0px 0px 50px 10px black
    }

    img.img1:hover {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        border-radius: 10%;
        -webkit-border-radius: 10%;
        box-shadow: 0px 0px 15px 15px black;
        -webkit-box-shadow: 0px 0px 15px 15px black;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    img.img2:hover {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        border-radius: 10%;
        -webkit-border-radius: 10%;
        box-shadow: 0px 0px 15px 15px black;
        -webkit-box-shadow: 0px 0px 15px 15px black;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

    img.img3:hover {
        /*DISEÑO IMAGENES VISION/OBJETIVO/MISION*/
        border-radius: 10%;
        -webkit-border-radius: 10%;
        box-shadow: 0px 0px 15px 15px black;
        -webkit-box-shadow: 0px 0px 15px 15px black;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);

    }

    .slider .caption h1.Titulo-Slideshow {
        justify-content: center;
        margin-top: -130%;
        margin-left: -14%;
        text-align: center;
        font-size: 60px;
        position: absolute;
        color: white
    }

    .slider .caption p.Texto-Slideshow {
        justify-content: center;
        margin-top: -122%;
        text-align: justify;
        margin-left: -39%;
        font-size: 25px;
        position: absolute;
    }


    .pagination {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;


    }

    .pagination li {
        font-size: 25px;
        margin: 2px 3px;
        color: #858585;
        cursor: pointer;
    }

    /*Control de FLECHAS IZQUIERDA Y DERECHA*/

    .left,
    .right {
        margin-top: 2%;
        position: absolute;
        top: 0;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        color: yellow;
        font-size: 45px;
        cursor: pointer;
        z-index: 2;
        transition: all .5s ease-in-out;
    }

    .left {
        left: 2px;
    }

    .right {
        right: 2px;
    }


    /*CSS PARA EFECTO DE INCREMENTO FLECHAS LATERALES*/

    .right:hover {
        color: red;
        text-shadow: -5px 0px 15px black;
        transform: scale(1.3);

    }

    .left:hover {
        color: red;
        text-shadow: 5px 0px 15px black;
        transform: scale(1.3);
    }


    .centrado {
        width: 90%;
        margin-left: 10px;
    }

    .justificar {
        text-align: justify;
    }

    header a {
        margin-top: 15px;
        font-size: 15px;
    }

    footer p {
        text-align: left;
    }

    a.menu-a-superior {
        margin-left: 80px;
        margin-right: 80px;
    }

}
